.wrapper-container{
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #090909;
  padding: 0 40px;
  .container{
    width: 100%;
    display: flex;
    flex-direction: column;
    nav{
      display: flex;
      align-items: center;
      .logo,.select{
        width: 50%;
      }
      .select{
        background: linear-gradient(45deg, #ffffff1a, transparent);
        border-radius: 6px;
      }
      .logo{
        h3{
          font-size: 24px;
        }
      }
    }
    .vs__selected{
      color: #fafafa;
    }
    .vs__dropdown-toggle{
      margin: 0 5px;
      border: none;
    }
    .vs__actions{
      svg{
        fill: #ffffff57;
      }
    }
    .vs__selected-options{
      input{
        color: #fafafa;
      }
      .vs__search{
        color: #848484;
        
        font-family: 'Times New Roman', Times, serif;
      }
    }
    .vs__dropdown-menu{
      background-color: #151515;
      color: #fafafa;
      li{
        background-color: #151515;
        &:hover{
          background-color: #202020;
        }
      }
    }
  }
}

h1,h2,h3{
  margin: 0;
  padding: 0;
  color: #fafafa;
}
nav{
  padding: 40px 0;
}

#app{
  display: flex;
  width: 100%;
}

body{
  max-width: 100vw;
  margin: 0;
  padding: 0;
}
*{
  box-sizing: border-box;
}

.content{
  display: flex;
  height: 100%;  
  position: relative;
  .part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    h2{
      font-size: 50px;
    }
    p{
      font-size: 20px;
      color: #acacac;
      max-width: 600px;
      line-height: 28px;
    }
    &+.part{
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        width: 100%;
        animation: animateHeart 1.2s infinite ease-in-out;
      }
    }
  }
  .loader{
    content: '';
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #090909;
    overflow-x: hidden;
    z-index: -1;
    .wrapper{
      width: 300px;
      height: auto;
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      span{
        color: #fafafa;
        margin-bottom: 50px;
        font-size: 20px;
      }
    }
    .line{
      position:absolute;
      opacity: 0.4;
      background:#848484;
      width:150%;
      height:3px;
      border-radius: 5px;
      overflow: hidden;
    }
    .subline{
      position:absolute;
      background:#848484;
      height:3px; 
      border-radius: 2px;
    }
    .inc{
    animation: increase 2s infinite;
    }
    .dec{
    animation: decrease 2s 0.5s infinite;
    }
    &.active{
      z-index: 2;
    }
  }
}
.author{
  span{
    color: #333;
    margin-right: 5px;
  }
}
a.git{
  color:#9c4668
}
.fade-in{
  h3,p,h2,span,a{
    animation: 1s ease-in-out forwards fadeIn;
  }
}

@keyframes animateHeart {
  0% {
    transform:scale(0.98);
  }
  10% {
    transform:scale(0.98);
  }
  15% {
    transform:scale(1);
  }
  50% {
    transform:scale(0.98);
  }
  100% {
    transform:scale(0.98);
  }
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes increase {
  from { left: -5%; width: 5%; }
  to { left: 130%; width: 100%;}
 }
 @keyframes decrease {
  from { left: -80%; width: 80%; }
  to { left: 110%; width: 10%;}
 }